.layout{
display: grid;
grid-template-columns: 275px auto 350px;
margin: 0 auto;
}

.layout--right-sidebar {
    position: fixed;
}
.sidebar-menu{
    font-size: 19PX;
    color: black;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 10px;
}

.sidebar-menu--item:hover{
    background: rgba(29,161, 242,0.1);
    color: #1da0f2;
    border-radius:20px
}

sidebar-menu--item--active{
    color:#1da0f2;
}

.sidebar-menu--item-icon{
    height: 26px;
    margin-right: 20px;
}


